## Custom ----------------------------------------------------------------------

## Operating system
.DS_Store

## Editor
.idea/
.vscode/

## Configuration that may contain sensitive information
.docker/**/.env.local

## Generated -------------------------------------------------------------------
