COMPOSE_PROJECT_NAME=test_drupal-lemp

PROJECT_HOSTNAME=test-drupal-lemp.example.com
PROJECT_ROOT=/var/www/html
PROJECT_MODE=prod

NGINX_VERSION=1.23-1.0.0
NGINX_ROOT=/var/www/html/web

CERTIFICATE_PATH=/etc/ssl/certificates
CERTIFICATE_FILENAME=cert.crt
CERTIFICATE_KEYNAME=key.key

PHP_VERSION=8.1-2.0.0
PHP_USER=drupallemp
PHP_PASSWORD=TESTPHPPASSWORD

SMTP_HOSTNAME=email.example.com
SMTP_PORT=25
SMTP_FROM=mind@example.com
SMTP_USER=mind
SMTP_PASSWORD=TESTSMTPPASSWORD

SSH_HOME=/var/www
SSH_PORT=2248

GIT_EMAIL=my@email.com
GIT_NAME="My Name"

## Proxy server example: http://USER:PROXYPASSWORD@proxy.example.com:8080
PROXY_SERVER=

## Mariadb - Ubuntu (Official image)
MARIADB_VERSION=10.4
MARIADB_PORT=3327
MARIADB_DATABASE=drupallemp
MARIADB_USER=drupallemp
MARIADB_PASSWORD=TESTMARIADBPASSWORD
MARIADB_ROOT_PASSWORD=TESTMARIADBROOTPASSWORD

## Mariadb - Alpine (Wodby)
MARIADB_TAG=10.8-3.21.0
MARIADB_HOST=mariadb
MARIADB_DRIVER=mysql

DRUPAL_CRON_TOKEN=TESTDRUPALCRONTOKEN

NFS_HOSTNAME=nfs.example.com
NFS_PATH=/media/nfs_docker/test
