COMPOSE_PROJECT_NAME=test_wordpress

PROJECT_HOSTNAME=test-wordpress.example.com
PROJECT_ROOT=/var/www/html
PROJECT_MODE=prod

NGINX_VERSION=1.23-1.0.0
NGINX_ROOT=/var/www/html/public

CERTIFICATE_PATH=/etc/ssl/certificates
CERTIFICATE_FILENAME=cert.pem
CERTIFICATE_KEYNAME=key.pem

PHP_VERSION=8.1-2.2.3
PHP_USER=wordpress
PHP_PASSWORD=TESTPHPPASSWORD

SMTP_HOSTNAME=email.example.com
SMTP_PORT=25
SMTP_FROM=user@example.com
SMTP_USER=user
SMTP_PASSWORD=TESTSMTPPASSWORD

SSH_HOME=/var/www
SSH_PORT=2248

GIT_EMAIL=my@email.com
GIT_NAME="My Name"

## Proxy server example: http://USER:PROXYPASSWORD@proxy.example.com:8080
PROXY_SERVER=

## Mariadb - Ubuntu (Official image)
MARIADB_VERSION=10.4
MARIADB_PORT=3348
MARIADB_DATABASE=wordpress
MARIADB_USER=wordpress
MARIADB_PASSWORD=TESTMARIADBPASSWORD
MARIADB_ROOT_PASSWORD=TESTMARIADBROOTPASSWORD
MYSQL_TRANSACTION_ISOLATION=READ-COMMITTED

## Mariadb - Alpine (Wodby)
MARIADB_TAG=10.4-3.26.3
MARIADB_HOST=mariadb
MARIADB_DRIVER=mysql

DRUPAL_CRON_TOKEN=TESTDRUPALCRONTOKEN

NFS_HOSTNAME=nfs.example.com
NFS_PATH=/media/nfs_docker/test
